IO_LOC "sys_clk" V22;
IO_PORT "sys_clk" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=OFF;

IO_LOC "s0" AA13;        // active low
IO_PORT "s0" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=OFF BANK_VCCIO=3.3;

// HDMI
IO_LOC "tmds_clk_p" G15;
IO_PORT "tmds_clk_p" PULL_MODE=NONE IO_TYPE=LVCMOS33D;
IO_LOC "tmds_clk_n" G16;
IO_PORT "tmds_clk_n" PULL_MODE=NONE IO_TYPE=LVCMOS33D;
IO_LOC "tmds_d_p[0]" J14;
IO_PORT "tmds_d_p[0]" PULL_MODE=NONE IO_TYPE=LVCMOS33D;
IO_LOC "tmds_d_n[0]" H14;
IO_PORT "tmds_d_n[0]" PULL_MODE=NONE IO_TYPE=LVCMOS33D;
IO_LOC "tmds_d_p[1]" J15;
IO_PORT "tmds_d_p[1]" PULL_MODE=NONE IO_TYPE=LVCMOS33D;
IO_LOC "tmds_d_n[1]" H15;
IO_PORT "tmds_d_n[1]" PULL_MODE=NONE IO_TYPE=LVCMOS33D;
IO_LOC "tmds_d_p[2]" K17;
IO_PORT "tmds_d_p[2]" PULL_MODE=NONE IO_TYPE=LVCMOS33D;
IO_LOC "tmds_d_n[2]" J17;
IO_PORT "tmds_d_n[2]" PULL_MODE=NONE IO_TYPE=LVCMOS33D;

// UART to BL616
IO_LOC "UART_RXD" V14;          // not Y14
IO_LOC "UART_TXD" U15;
IO_PORT "UART_RXD" IO_TYPE=LVCMOS33;
IO_PORT "UART_TXD" IO_TYPE=LVCMOS33;

// Joystick 1 on pmod0
IO_LOC  "ds_clk" R18;
IO_PORT "ds_clk" PULL_MODE=NONE IO_TYPE=LVCMOS33;
IO_LOC  "ds_miso" P16;
IO_PORT "ds_miso" PULL_MODE=UP IO_TYPE=LVCMOS33;
IO_LOC  "ds_mosi" T21;
IO_PORT "ds_mosi" PULL_MODE=NONE IO_TYPE=LVCMOS33;
IO_LOC  "ds_cs"  P19;
IO_PORT "ds_cs" PULL_MODE=NONE IO_TYPE=LVCMOS33;

IO_LOC  "ds_clk2" T18;
IO_PORT "ds_clk2" PULL_MODE=NONE IO_TYPE=LVCMOS33;
IO_LOC  "ds_miso2" R17;
IO_PORT "ds_miso2" PULL_MODE=UP IO_TYPE=LVCMOS33;
IO_LOC  "ds_mosi2" U21;
IO_PORT "ds_mosi2" PULL_MODE=NONE IO_TYPE=LVCMOS33;
IO_LOC  "ds_cs2"  R19;
IO_PORT "ds_cs2" PULL_MODE=NONE IO_TYPE=LVCMOS33;

// LED on pmod1
IO_LOC "led[0]" AB20;// P19;
IO_LOC "led[1]" AA19;// R19;
IO_PORT "led[0]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "led[1]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
// IO_LOC "led[2]" AA21;// T21;
// IO_LOC "led[3]" AA20;// U21;
// IO_LOC "led[4]" AB22;// P16;
// IO_LOC "led[5]" AB21;// R17;
// IO_LOC "led[6]" Y22;// R18;
// IO_LOC "led[7]" Y21;// T18;
// IO_PORT "led[2]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
// IO_PORT "led[3]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
// IO_PORT "led[4]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
// IO_PORT "led[5]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
// IO_PORT "led[6]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
// IO_PORT "led[7]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;

